body {
  margin: 0 auto;
  padding-top: 15px;
  background-color: black;
  color: snow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 20px;
}

* {
  padding: 0px;
  margin: 1.5px;
  font-family: Helvetica, Arial;
  text-shadow: none;
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background-color: yellow;
  border-radius: 3px;
  padding: 5px;
}

p {
  background-color: transparent;
  border-radius: 7px;
  color: lime;
  padding: 6px;
  font-family: monospace, Helvetica;
}

li {
  list-style-type: none;
  padding-left: 0;
}

.container {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: snow;
  font-family: fantasy, Arial, sans-serif;
  padding: 15px;
  width: fit-content;
  height: fit-content;
  border-radius: 13px;
  border: 3px solid #DCED77;
  border-top: 2.2px solid whitesmoke;
  box-shadow: 0 1px 1px 0 #DCED77, 1px 1px 1px 1px whitesmoke;
  }

.settings {
  flex-direction: row;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #DCED77;
  box-shadow: 0 1px 1px 0 #DCED77, 1px 1px 1px 1px whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-family: fantasy, Arial, sans-serif;
  }

.panel-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border: 2px solid snow;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 blue, 1px 1px 1px 1px whitesmoke;
  padding: 5px;
  margin-bottom: 7px;
  text-align: center;
  font-family: fantasy, Arial, sans-serif;

}

.num-inp {
  padding: 9px;
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  box-shadow: 0 1.8px 1.8px 0 whitesmoke, 1px 1px 1px 1px whitesmoke;
  border-radius: 5px;
  border: 1.8px solid #6495ED;
  border-top: 1.8px solid #6495ED;
  background-color: whitesmoke;
}

.action-btn {
  width: 120px;
  height: fit-content;
  padding: 5px;
  margin: 7.5px;
  color: snow;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 whitesmoke, 0.5px 0.5px 0.5px 0.5px whitesmoke;
  border-radius: 5px;
  border: 2.5px solid whitesmoke;
  border-top: 1.8px solid #6495ED;
  font-family: monospace, Arial, sans-serif;
}

.action-btn:hover {
  width: 130px;
  transition: width 1s;
  background-color: indigo;
}

.action-btn:active {
  width: 130px;
  transition: width 1s;
  background-color: indigo;
}

.item-slot {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  margin: 5px;
  border: 1.8px solid #1E90FF;
  border-top: 1.8px solid #1E90FF;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 whitesmoke, 0 1px 1px 0 whitesmoke;
  font-family: Arial, sans-serif;
}

.purchase-btn {
  background-color: transparent;
  padding: 5px;
  margin: 3px;
  color: snow;
  border: 2px solid snow;
  box-shadow: 0 1px 1px 0 gold, 0 1px 1px 0 whitesmoke;
  border-radius: 18px;
  width: 110px;
  height: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-family: monospace, Arial, sans-serif;
}

table {
  padding: 5px;
  display: block;
}

table, th, td, tr {
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 0 2px 2px 0 yellow, 0 1px 1px 0 whitesmoke;
  padding: 0px;
  font-size: 15px;
  font-family: Helvetica;
  text-align: center;
  height: fit-content;
}

td {
  height: fit-content;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 1.5px 1.5px 0 snow, 0 0.5px 0.5px 0 whitesmoke;
}

.hidden-farm-slot {
  border: 2px solid snow;
  border-radius: 0px;
  box-shadow: 0 2px 2px 0 lightblue, 0 2px 2px 0 lightblue;
  text-shadow: 0.5px 0.5px lightblue;
  padding: 0px;
  font-size: 15px;
  font-family: Helvetica;
  text-align: center;
}

.farm-btn {
  padding: 5px;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px double gold;
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 whitesmoke, 0 2px 2px 0 snow;
  font-family: Helvetica, Arial;
  background-color: transparent;
}

.farm-btn:active {
  background-color: black;
  color: snow;
  font-weight: bold;
  padding: 5.3px;
}

th {
  padding: 3px;
}

.timed-rewards-table tr {
  padding: 3.5px;
}